@import 'tailwindcss';

:root {
  --color-background-morning: #f8c6cf;
  --color-background-night: #455681;
  --color-background-afternoon: #a793ac;
  --color-text: #fffeff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

html[data-theme='새벽'],
html[data-theme='저녁'],
html[data-theme='밤'] {
  background-color: var(--color-background-night);
}

html[data-theme='아침'] {
  background-color: var(--color-background-morning);
}

html[data-theme='낮'] {
  background-color: var(--color-background-afternoon);
}
