@supports (-webkit-touch-callout: none) {
  .wrapper {
    height: -webkit-fill-available;
  }
}

.wrapper[data-theme='DARK'] {
  background-color: var(--color-background-night);
}

.wrapper[data-theme='LIGHT'] {
  background-color: var(--color-background-afternoon);
}
